<title>Registrar chamado</title>
<div class="content-body">
    <div class="register-box">
        <div class="title-box">
            <h3>Registrar Chamado</h3>
        </div>
        <div class="content-box">
            <form method="post" action="/admin/call/create" class="form-group" enctype="multipart/form-data">

                <div class="input-group">
                    <label for="user_one_id" class="label-input">1º Tecnico Responsavel</span></label>
                    <select type="text" class="text-input" id="user_one_id" name="user_one_id">
                        <option value="0">Nenhum</option>
                        {loop="$users"}
                        <option value="{$value.user_id}">{$value.user_name}</option>
                        {/loop}
                    </select>
                </div>
                <div class="input-group">
                    <label for="user_two_id" class="label-input">2º Tecnico Responsavel</span></label>
                    <select type="text" class="text-input" id="user_two_id" name="user_two_id">
                        <option value="0">Nenhum</option>
                        {loop="$users"}
                        <option value="{$value.user_id}">{$value.user_name}</option>
                        {/loop}
                    </select>
                </div>
                <div class="input-group">
                    <label for="user_three_id" class="label-input">3º Tecnico Responsavel</span></label>
                    <select type="text" class="text-input" id="user_three_id" name="user_three_id">
                        <option value="0">Nenhum</option>
                        {loop="$users"}
                        <option value="{$value.user_id}">{$value.user_name}</option>
                        {/loop}
                    </select>
                </div>
                <div class="input-group">
                    <label for="call_issue" class="label-input">Problema <span class="mandatory">*</span></label>
                    <input type="text" class="text-input" id="call_issue" name="call_issue">
                </div>
                <div class="input-group">
                    <label for="call_sector" class="label-input">Secretaria <span class="mandatory">*</span></label>
                    <input type="text" class="text-input" id="call_sector" name="call_sector">
                </div>
                <div class="input-group">
                    <label for="call_departament" class="label-input">Departamento </label>
                    <input type="text" class="text-input" id="call_departament" name="call_departament">
                </div>
                <div class="input-group">
                    <label for="call_caller" class="label-input">Solicitante </label>
                    <input type="text" class="text-input" id="call_caller" name="call_caller">
                </div>
                <div class="input-group">
                    <label for="call_dt_prev" class="label-input">Previsão </label>
                    <input type="date" class="text-input" id="call_dt_prev" name="call_dt_prev">
                </div>
                <div class="form-mandatory">
                    <p><span class="mandatory">*</span> Campos obrigatorios</p>
                </div>
                <div class="form-action">
                    <button class="action-reset"  onclick="sendNotification()">Cancelar</button>
                    <button class="action-submit" type="submit" onclick="sendNotification()">Salvar</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

<script>

    function sendNotification(){
        console.log("SEND");
        console.log(Notification.permission);
        if(Notification.permission === "granted"){
            console.log("FOi");
            new Notification("Chamado NOVO !" )
        }
    }
</script>