<title>Cochos</title>
<div class="content-body">
    <div class="list-body">
        <div class="list-body-content">
            <div class="list-body-top">
                <div class="list-category-title">
                    <h3 class="list-title">Cochos</h3>
                </div>
                <div class="list-category-sub-title">
                    <p class="list-sub-title">lista de cochos</p>
                </div>
            </div>
            <div class="list-body-middle">
                <div class="list-table-body">
                    <table>
                        <thead>
                            <th style="font-weight: bolder;">Identificador</th>
                            <th style="font-weight: bolder;">Modelo de placa</th>
                            <th style="font-weight: bolder;">Criado em</th>
                            <th style="font-weight: bolder;">Ações</th>
                        </thead>
                        <tbody>
                            {loop="$cocho"}
                            <tr>
                                <td style="font-weight: bolder;">{$value.model.description}</td>
                                <td style="font-weight: bolder;">
                                    {if="isset($value.boards.0)"}
                                    {$value.boards.0.model.model}
                                    {else}
                                    Nenhum modelo registrado ainda
                                    {/if}
                                </td>
                                <td>{function="date('Y-m-d',strtotime($value.created_at))"}</td>
                                <td>
                                    <a href="/admin/cocho/{$value.id}" class="small-action-btn view"><i
                                            class="fas fa-eye"></i></a>
                                    <div class="large-buttons">
                                        <a href="/admin/cocho/{$value.id}" class="action-btn view">Visulizar</a>
                                    </div>
                                </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
                <div class="new-element">
                    <div class="new-element" style="margin-top:40px ;">
                        <a href="./cocho/create">
                            <button>
                                Incluir novo
                            </button>
                        </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script src="_js/jquery-3.6.0.min.js"></script>
    <script src="_js/index.js"></script>

    </html>