<title>Computadores</title>
<div class="content-body">
    <div class="list-body">
        <div class="list-body-content">
            <div class="list-body-top-search">
                <div class="list-body-top-left">
                    <div class="list-category-title">
                        <h3 class="list-title">Computadores</h3>
                    </div>
                    <div class="list-category-sub-title">
                        <p class="list-sub-title">lista de computadores</p>
                    </div>
                </div>
                <div class="list-body-top-right">
                        <form  class="input-top-search-group">
                            <div class="group-item">
                                <input placeholder="Patrimonio" name="patrimony" id="patrimony" value="{$patrimony}">
                            </div>
                            <div class="group-item">
                                <input placeholder="Setor" name="sector" id="sector" value="{$sector}">
                            </div>
                            <div class="group-item action-item">
                                <button class="input-button">Buscar <i class="fas fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                </div>    
            </div>
            <div class="list-body-middle">
                <div class="action-button-create">
                    <a href="./computer/create">
                        Incluir novo <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class="list-table-body">
                    <table>
                        <thead>
                            <th>Patrimonio</th>
                            <th>Setor</th>
                            <th>Estado</th>
                            <th>Data registro</th>
                            <th>Ação</th>
                        </thead>
                        <tbody>
                            {loop="$computers"}
                            <tr>
                                <td>{$value.computer_patrimony}</td>
                                <td>{$value.computer_sector}</td>
                                <td>{$value.computer_state}</td>
                                <td>{$value.computer_dt_register}</td>
                                <td>
                                    
                                    <a href="/admin/computer/delete{$value.computer_id}" onclick="return confirm('Deseja realmente excluir este registro?')" class="small-action-btn delete"><i class="fas fa-trash-can"></i></a>
                                    <a href="/admin/computer/update{$value.computer_id}" class="small-action-btn update"><i class="fas fa-pen-to-square"></i></a>
                                    <a href="/admin/computer/profile{$value.computer_id}" class="small-action-btn view"><i class="fas fa-eye"></i></a>
                                    <button onclick="openModal('os-modal{$value.computer_id}')" class="small-action-btn confirm"><i class="fas fa-plus"></i></button>
                                </td>
                              
                            </tr>
                            <div id="os-modal{$value.computer_id}" class="os-modal">
                               <div class="os-modal-body" >
                                <div class="os-modal-top">
                                   <h3>Registrar OS Computdor {$value.computer_patrimony}</h3> <button class="os-modal-close" onclick="closeModal('os-modal{$value.computer_id}')"> <i class="fas fa-x"></i></button>
                                </div>
                                <div class="os-modal-form">
                                    <form method="post" action="/admin/os-computer/create-quick" class="form-group" enctype="multipart/form-data">
                                        <div class="input-group">
                                            <label for="user_technical_one_id" class="label-input">1º Tecnico Responsavel</label>
                                            <select type="text" class="text-input" id="user_technical_one_id" name="user_technical_one_id">
                                                <option value="0">Nenhum</option>
                                                {loop="$tecs"}
                                                <option value="{$value.user_id}">{$value.user_name}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <label for="user_technical_two_id" class="label-input">2º Tecnico Responsavel</label>
                                            <select type="text" class="text-input" id="user_technical_two_id" name="user_technical_two_id">
                                                <option value="0">Nenhum</option>
                                                {loop="$tecs"}
                                                <option value="{$value.user_id}">{$value.user_name}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <label for="user_technical_three_id" class="label-input">3º Tecnico Responsavel</label>
                                            <select type="text" class="text-input" id="user_technical_three_id" name="user_technical_three_id">
                                                <option value="0">Nenhum</option>
                                                {loop="$tecs"}
                                                <option value="{$value.user_id}">{$value.user_name}</option>
                                                {/loop}
                                            </select>
                                        </div>
                                        
                                        <div class="input-group" style="display:none;">
                                            <label for="computer_id" class="label-input">Computador <span class="mandatory">*</span></label>
                                            <select type="text" class="text-input" id="computer_id" name="computer_id">
                                                
                                                <option value="{$value.computer_id}">{$value.computer_patrimony} - {$value.computer_dt_register}</option>
                                                
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <label for="os_defect" class="label-input">Defeito <span class="mandatory">*</span></label>
                                            <input type="text" class="text-input" id="os_defect" name="os_defect">
                                        </div>
                                        <div class="input-group">
                                            <label for="os_fix" class="label-input">Reparo</label>
                                            <input type="text" class="text-input" id="os_fix" name="os_fix">
                                        </div>
                                        <div class="input-group">
                                            <label for="os_note" class="label-input">Observação</label>
                                            <input type="text" class="text-input" id="os_note" name="os_note">
                                        </div>  
                                        <div class="input-group" style="display: none;">
                                            <label for="os_status" class="label-input">Status</label>
                                            <select type="text" class="text-input" id="os_status" name="os_status">
                                                <option value="ABERTO" selected>ABERTO</option>
                                            </select>
                                        </div>  
                                        
                                        <div class="form-mandatory">
                                            <p><span class="mandatory">*</span> Campos obrigatorios</p>
                                        </div>
                                        <div class="form-action">
                                            <button class="action-submit" type="submit">Salvar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                            {/loop}
                            
                        </tbody>
                    </table>
                </div>
                <!-- <div class="new-element">
                    <a href="./computer/create" class="new-element-button">
                        <button>
                            Incluir novo
                        </button>
                    </a>
                </div> -->
                <div class="paginator">
                    <div class="paginator-row">
                        {loop="$pages"}
                        <a href="{$value.href}" class="paginator-item"><div>{$value.text}</div></a>
                        {/loop}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="_js/jquery-3.6.0.min.js"></script>
<script src="_js/index.js"></script>
<script>
    function openModal(param){
        let modal = document.getElementById(param);
        let nav = document.querySelector('.mobile-nav')
        nav.classList.add('closed');
        modal.classList.add('open');
    }
    function closeModal(param) {
        let modal = document.getElementById(param);
        let nav = document.querySelector('.mobile-nav')
        modal.classList.remove('open');
        nav.classList.remove('closed');
    }
</script>
</html>