
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../res/_css/index.css">
    <link rel="stylesheet" href="../../res/_css/menu-bar.css">
    <link rel="stylesheet" href="../../res/_css/simple-grid.min.css">
    <link rel="stylesheet" href="../../res/_css/form.css">
    <link rel="stylesheet" href="../../res/_css/entity-list.css">
    <link rel="stylesheet" href="../../res/_css/table.css">
    <link rel="stylesheet" href="../../res/_css/card.css">
    <link rel="stylesheet" href="../../res/_css/entity-profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
    <div class="header">

        <div class="logo">
            <a href="/admin">
                <img src="../../res/_assets/_contentimg/logo_mobile.png" alt="" srcset="" class="logo-img">
                
            </a>
        </div>

        <div class="logo-mobile">
            <a href="/admin">
                <img src="../../res/_assets/_contentimg/logo_branca.png" alt="" srcset="" class="logo-img">
                
            </a>
        </div>
        <div class="title">
            <h1 class="title-page">Chamados</h1>
            <h3 class="sub-title-page">App</h3>
        </div>
    </div>

    

<title>Buscar Computador</title>
<div class="content-body">
    <div class="register-box">
        <div class="title-box">
            <h3>Buscar computador</h3>
        </div>
        <div class="content-box">
            <form method="post" action="/admin/computer/public-barcode" class="form-group" enctype="multipart/form-data">

               
                <div class="input-group">
                    <label for="computer_patrimony" class="label-input">Patrimonio <span class="mandatory">*</span></label>
                    <input type="text" class="text-input" id="computer_patrimony" name="computer_patrimony">
                </div>
                <div class="form-action">
                    <button class="action-submit" type="submit" style="width: 100% !important; ">Buscar</button>
                </div>
            </form>
        </div>

    </div>
</div>

