<title>Perfil do Computador</title>
<div class="content-body">
    <div class="entity-profile-card">
        <div class="entity-profile-card-middle card-category">
            <div class="entity-info sub-card-category">
                <div class="row card-category-title">
                    <h3>Computador</h3>
                </div>
                <div class="info-items">
                    <div class="info-box">
                        <h3 class="info-title">Patrimonio</h3>
                        <h3 class="info-value">{$computer.computer_patrimony}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Setor</h3>
                        <h3 class="info-value">{$computer.computer_sector}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">IP</h3>
                        <h3 class="info-value">{$computer.computer_ip}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Nome de usuario</h3>
                        <h3 class="info-value">{$computer.computer_user_name}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Matricula de usuario</h3>
                        <h3 class="info-value">{$computer.computer_user_registration}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Marca</h3>
                        <h3 class="info-value">{$computer.computer_brand}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Processador</h3>
                        <h3 class="info-value">{$computer.computer_soc}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Memoria</h3>
                        <h3 class="info-value">{$computer.computer_mem}Gb</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Placa de video</h3>
                        <h3 class="info-value">
                            {if="$computer.computer_video_card == '1'"}
                            SIM
                            {else}
                            NÃO
                            {/if}
                        </h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Placa de rede</h3>
                        <h3 class="info-value">
                            {if="$computer.computer_network_card == '1'"}
                            SIM
                            {else}
                            NÃO
                            {/if}
                        </h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">HDD</h3>
                        <h3 class="info-value">
                            {if="$computer.computer_network_card == '1'"}
                            SIM
                            {else}
                            NÃO
                            {/if}
                        </h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Tipo de disco</h3>
                        <h3 class="info-value">{$computer.computer_hd_type}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Observação</h3>
                        <h3 class="info-value">{$computer.computer_note}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Registrado por</h3>
                        <h3 class="info-value">{$computer.userRegister}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Estado</h3>
                        <h3 class="info-value">{$computer.computer_state}</h3>
                    </div>
                    <div class="info-box">
                        <h3 class="info-title">Data de registro</h3>
                        <h3 class="info-value">{function="date('Y-m-d',strtotime($computer.computer_dt_register))"}</h3>
                    </div>

                    <div class="info-box">
                        <h3 class="info-title">Data de atualização</h3>
                        <h3 class="info-value">{function="date('Y-m-d',strtotime($computer.computer_dt_last_update))"}</h3>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="list-body">
        <div class="list-body-content">
            <div class="list-body-middle">
                <div class="list-category-title">
                    <h3 class="list-title">OS</h3>
                </div>
                <div class="list-category-sub-title">
                    <p class="list-sub-title">Lista de ordens de serviço</p>
                </div>
                <div class="list-table-body">
                    <table>
                        <thead>
                            <th>ID</th>
                            <th>Responsável</th>
                            <th>Defeito</th>
                            <th>Status</th>
                            <th>Data registro</th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            {loop="$os"}
                            <tr>
                                <td>{$value.os_id}</td>
                                <td>{$value.tec1}</td>
                                <td>{$value.os_defect}</td>
                                <td>{$value.os_status}</td>
                                <td>{$value.os_dt_register}</td>
                                <td>
                                    <a href="/admin/os-computer/profile{$value.os_id}" class="small-action-btn view"><i class="fas fa-eye"></i></a>
                                    {if="$user_id == $value.tec1"}
                                    <a href="/admin/os-computer/delete{$value.os_id}" onclick="return confirm('Deseja realmente excluir este registro?')" class="small-action-btn delete"><i class="fas fa-trash-can"></i></a>
                                    {/if}
                                </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
                <div class="new-element">
                    <a href=".././os-computer/create{$computer.computer_id}" class="new-element-button">
                        <button>
                            Incluir novo
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
 
</div>