<title>OS Computadores</title>
<div class="content-body">
    <div class="list-body">
        <div class="list-body-content">
            <div class="list-body-top">
                <div class="list-category-title">
                    <h3 class="list-title">OS Computadores</h3>
                </div>
                <div class="list-category-sub-title">
                    <p class="list-sub-title">lista de ordem de serviço dos computadores</p>
                </div>
            </div>
            <div class="list-body-middle">
                <div class="list-table-body">
                    <table>
                        <thead>
                            <th>ID</th>
                            <th>Patrimonio</th>
                            <th>Responsável</th>
                            <th>Status</th>
                            <th>Data registro</th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            {loop="$os"}
                            <tr>
                                <td>{$value.os_id}</td>
                                <td>{$value.computer_patrimony}</td>
                                <td>{$value.tec1}</td>
                                <td>{$value.os_status}</td>
                                <td>{$value.os_dt_register}</td>
                                <td>
                                    {if="$value.os_status != 'CONCLUIDO'"}
                                        {if="$value.user_technical_one_id == $user_id"}
                                        <a href="/admin/os-computer/delete{$value.os_id}" onclick="return confirm('Deseja realmente excluir este registro?')" class="small-action-btn delete"><i class="fas fa-trash-can"></i></a>
                                        <a href="/admin/os-computer/update{$value.os_id}" class="small-action-btn update"><i class="fas fa-pen-to-square"></i></a>
                                        {/if}
                                    {/if}
                                    <a href="/admin/os-computer/profile{$value.os_id}" class="small-action-btn view"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                            {/loop}
                        </tbody>
                    </table>
                </div>
                <div class="new-element">
                    <a href="./os-computer/create" class="new-element-button">
                        <button>
                            Incluir novo
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="_js/jquery-3.6.0.min.js"></script>
<script src="_js/index.js"></script>

</html>