html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

:root {

    /* green  #22bdb7 */
    /* grey  #374d58 */

    --white-r: #ffffff;
    --white: #f5f7ff;
    --white-b-s: #f7f9ffde;
    --white-b: #e4f2ff;
    --white-g-l: #829ab5;
    --white-g-l-2: #657b8f;
    --white-g: #2a2c3d;
    --blue-l-3: #00a2ff;
    --blue-l-2: #0076ba;
    --blue-l-1: #2253bd;
    --blue: #2836a6;

    --blue-d-1: #00093b;
    --blue-d-2: #000321;
    --blue-d-3: #000714;
    --box-shadow-1: 0px 0px 6px 0px rgba(206, 206, 206, 0.219);
    --box-shadow-2: 0px 0px 10px 0px rgba(156, 156, 156, 0.123);
    --box-shadow-3: 0px 0px 5px 0px rgba(122, 122, 122, 0.192);
}

.header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    border-bottom: 1px solid var(--white-r);
    padding: 0 !important;
    background-color: white;
}

.logo {
    width: 40%;
    background-color: var(--white-r);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.logo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 100%;
    width: 100%;
    content: " ";
    border-bottom-right-radius: 30px;
    display: none;
}

.logo a img {
    height: 12vh;
    width: auto;
    position: relative;
}

.logo-mobile {
    display: none;
}

.title {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.title h1 {
    color: var(--white);
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.title h3 {
    margin: 0;
    color: var(--white);
    margin-left: 20px;
    padding: 0;
    margin-top: -10px;
}

.content-body {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 20vh;
    overflow: hidden;
}

@media (min-width: 800px) {
    .logo img {
        width: 180px;
    }

    .logo {
        width: 20%;
    }

    .title {
        width: 80%;
    }
}

@media (min-width: 600px) {
    .logo img {
        width: 180px;
    }

    .logo {
        width: 20%;
    }

    .title {
        width: 80%;
    }
}

.hidden {
    display: none;
}

@media (max-width: 1200px) {
    .hide-on-med-down {
        display: none;
    }

}





@media only screen and (max-width: 350px) {
    .header {
        position: relative;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        position: absolute;
        top: 50%;
        left: calc(100% - 30px);
        transform: translate(-100%, -50%);
    }

    .logo-mobile img {
        height: 9vh !important;


    }

    .title {
        width: 100%;

    }

    .title h1 {
        font-size: 22pt;
    }

}





::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}

.hide-info {
    display: none;
}