html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

:root {

    /* green  #22bdb7 */
    /* grey  #374d58 */

    --white-r: #fcfcfc;
    --white: #f5fffe;
    --white-b-s: #f7fffede;
    --white-b: rgb(228, 255, 251);
    --white-g-l: #82b3b5;
    --white-g-l-2: #658f8d;
    --white-g: #2a3c3d;
    --blue-l-3: #00ffc8;
    --blue-l-2: #009eba;
    --blue-l-1: #22a6bd;
    --blue: #374d58;

    --blue-d-1: #002a3b;
    --blue-d-2: #000f21;
    --blue-d-3: #000714;
    --box-shadow-1: 0px 0px 6px 0px rgba(206, 206, 206, 0.219);
    --box-shadow-2: 0px 0px 20px 0px rgba(122, 122, 122, 0.123);
    --box-shadow-3: 0px 0px 10px 0px rgba(122, 122, 122, 0.192);
}

.header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    border-bottom: 1px solid var(--blue-d-1);
    padding: 0 !important;
    background-color: white;
}

.logo {
    width: 40%;
    background-color: var(--white-g-lb);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.logo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 100%;
    width: 100%;
    content: " ";
    border-bottom-right-radius: 30px;
    display: none;
}

.logo a img {
    height: 200px;
    width: auto;
    position: relative;
}

.title {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.title h1 {
    color: var(--white);
    margin: 0;
    margin-left: 20px;
    padding: 0;
}

.title h3 {
    margin: 0;
    color: var(--white);
    margin-left: 20px;
    padding: 0;
    margin-top: -10px;
}

.content-body {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 20vh;
    overflow: hidden;
}

@media (min-width: 800px) {
    .logo img {
        width: 180px;
    }
    .logo {
        width: 20%;
    }
    .title {
        width: 80%;
    }
}

@media (min-width: 600px) {
    .logo img {
        width: 180px;
    }
    .logo {
        width: 20%;
    }
    .title {
        width: 80%;
    }
}

.hidden {
    display: none;
}

@media (max-width: 1200px) {
   .hide-on-med-down {
    display: none;
   }

}



#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}





@media only screen and (max-width: 350px) {
    .logo {
        display: none;
    }

    .title {
        width: 100%;
    }
    
}





::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border: 1px solid #d5d5d5;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }


